/* Основні стилі */
body {
    margin: 0;
    font-family: 'Sofia Sans Condensed', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Шапка */
header {
    color: #333;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header img {
    max-height: 80px;
    margin-left: 0.5rem;
    transition: transform 0.3s ease;
}

header img:hover {
    transform: scale(1.1);
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

header nav ul li {
    margin: 0 0.5rem;
}

header nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition: color 0.3s, border-bottom 0.3s;
}

header nav ul li a:hover {
    color: goldenrod;
    border-bottom: 1px solid black;
}


/* Hero */
.hero {
    background: url('../image/giphy.gif') center center / cover no-repeat, goldenrod;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
}

/* Блог-пости */
.blog-posts {
    padding: 50px 0;
}

.blog-post {
    display: flex;
    margin-bottom: 30px;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s;
}

.blog-post:hover {
    transform: translateY(-5px);
}

.blog-post img {
    width: 30%;
    object-fit: cover;
}

.blog-post .content {
    padding: 20px;
    flex: 1;
}

.blog-post h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.blog-post p {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #555;
}

.blog-post .btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: goldenrod;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s;
}

.blog-post .btn:hover {
    background: #333;
}

/* Footer */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}

footer nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

footer nav ul li {
    margin: 0 10px;
}

footer nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s;
}

footer nav ul li a:hover {
    color: goldenrod;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}
