/* Загальні стилі */
body {
    font-family: 'Sofia Sans Condensed', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    color: #333;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header img {
    max-height: 80px;
    margin-left: 0.5rem;
    transition: transform 0.3s ease;
}

header img:hover {
    transform: scale(1.1);
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

header nav ul li {
    margin: 0 0.5rem;
}

header nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition: color 0.3s, border-bottom 0.3s;
}

header nav ul li a:hover {
    color: goldenrod;
    border-bottom: 1px solid black;
}


.hero {
    background: #f4f4f4;
    padding: 20px 0;
    text-align: center;
}

.hero h2 {
    margin: 0;
    font-size: 2.5em;
}

.hero p {
    margin: 10px 0 0;
    color: #555;
}

.topics {
    padding: 20px 0;
    background-color: #fff;
}
.width{
    width:90%;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.topics .topic {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    text-align: left;
}

.topics .topic h3 {
    color: #333;
}

.topics .topic p {
    color: #666;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer nav ul {
    list-style: none;
    padding: 0;
}

footer nav ul li {
    display: inline;
    margin: 0 10px;
}

footer nav ul li a {
    color: #fff;
    text-decoration: none;
}
